@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
 background-color:  #F5F5F5;
}
.after {
  @apply relative after:absolute after:h-full after:w-[1px] after:top-0 after:-right-[10px] after:bg-white after:opacity-50
}
.link{
 @apply text-center duration-100 ease-in hover:opacity-75
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #F94E30;
}
.categories::-webkit-scrollbar {
  width: 8px;
}
.categories::-webkit-scrollbar-thumb {
  border-radius:3px;
  background-color:#F94E30;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}